* {
  box-sizing: border-box;
  font-family: monospace;
}

body,
html {
  width: 100%;
  height: 100%;
  margin: 0;

  background-color: #111;
  color: #eee;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

a {
  color: #eee;
}

canvas {
  width: 500px;
  height: 500px;
  border: 1px solid #eee;
}

button {
  background: 0;
  border: 1px solid #eee;
  color: #eee;
  padding: 1rem;
}

button:focus {
  outline: 0;
}

button:active {
  transform: scale(0.95);
}
